html, body{
	font-family: sans-serif;
	margin: 0;
}


header{
	background-color: #f2d33a;
	/* padding order is top right left bot*/
	padding: 45px;
	text-align: center;

}
h1{
	font-size: 190px;
	color: #f2fffd;
}
h2{
	text-align: center;
}
header img{
	border-radius: 200px;
	width: 176.5px;
	/* border: thickness, style, color;*/
	border: 20px solid black;
}
.content{
	max-width: 2000px;
	margin: 0px 60px;
	background-color: #dadfe8;

}
img.big-image{
	max-width: 100%;
	padding: 20px 0px;
}
p.caption{
	font-size: 32px;
	color: grey;
	font-style: italic;
	margin: 0px 30%
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: blue;
	text-decoration: none;
}
footer{
	padding: 40px 20px;
	background-color:#f2d33a;
	margin: 30px 0px
}
ul{
	text-align: center;
}
footer ul li{
	display: inline;
	margin: 0 5px;
}